{% render 'partials/head.liquid' %}

<article class="card">
  <article class="personal">
    <img
      src="/Arman.jpeg"
      alt=""
      width="160px"
      height="160px">
    <h1>{{ person.name }}</h1>
    <p>{{ person.activity }}</p>
    <ul class="sites">
      <li>
        <a href="https://armanvoogd.com/"></a>Portfolio</li>
      <li>
        <a href="https://armanvd.github.io/the-startup-responsive-interactive-website/"></a>AccessDash</li>
      <li>
        <a href="https://iloveweb.armanvoogd.com"></a>I Love Web</li>
    </ul>
  </article>
  <article class="about-me">
    <h2>About me</h2>
    <p>{{ person.bio }}</p>
  </article>
</article>


{% render 'partials/foot.liquid' %}