* {
  box-sizing: border-box;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/metallic.png);
  background-size: cover;
  height: 100vh;
  width: 100vw;
  color: #efe7da;
  font-family: "poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #00000066;
  backdrop-filter: blur(10px);
  height: auto;
  max-width: 875px;
  border-radius: 15px;

  .personal {
    width: 30%;
    background-color: #00000066;
    padding: 2em;
    border-radius: 15px;

    img {
      border-radius: 999px;
      opacity: 1;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    h1 {
      margin-block-end: 0;
      font-size: 24px;
    }

    p {
      margin-block-start: 0.1em;
      font-size: 16px;
    }

    .sites {
      padding: 0;
      list-style: none;

      a {
        text-decoration: none;
        color: #efe7da;
        font-size: 20px;
        font-weight: 600;
      }
    }
  }

  .about-me {
    width: 70%;
    padding: 2em;

    h2 {
      font-size: 32px;
      font-weight: 700;
    }

    p {
      font-size: 20px;
    }
  }
}
