* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  background-image: url(/metallic.png);
  background-size: cover;
  height: 100dvh;
  width: 100dvw;
  color: #efe7da;
  font-family: "poppins", sans-serif;
}

.card {
  display: flex;
  flex-direction: row;
  background-color: #00000066;
  backdrop-filter: blur(10px);
  height: auto;
  width: auto;
  max-width: 875px;
  border-radius: 15px;
  margin: 1.5em;

  .personal {
    width: auto;
    background-color: #00000066;
    padding: 2em;
    border-radius: 15px;
    display: flex;
    flex-direction: column;

    img {
      border-radius: 999px;
      opacity: 1;
      object-fit: cover;
      width: 100px;
      height: 100px;
    }

    h1 {
      font-size: 24px;
      margin-top: 0.5em;
    }

    p {
      margin-block-start: 0.1em;
      font-size: 16px;
      margin-bottom: 1em;
    }

    .sites {
      list-style: none;
      margin-top: auto;

      a {
        text-decoration: none;
        color: #efe7da;
        font-size: 1em;
        font-weight: 600;
      }

      li {
        padding-top: 0.5em;
      }
    }
  }

  .about-me {
    max-width: 60%;
    padding: 2em;

    h2 {
      font-size: 32px;
      font-weight: 700;
      margin-bottom: 1em;
    }

    p {
      font-size: 1em;
    }
  }
}
