* {
  box-sizing: border-box;
}

html {
  height: 100vh;
}

body {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-family: open sans;
  background-color: blanchedalmond;
}

.card {
  width: 500px;
  height: 550px;
  position: relative;
  transform-style: preserve-3d;
  transition: 1s ease;
}

.card_front,
.card_back {
  position: absolute;
  height: 100%;
  width: 100%;
  border-radius: 10px;
  backface-visibility: hidden;
  align-items: center;
}

.card_front {
  background-color: #1e3f5a;
  z-index: 1;
}

.card_back {
  background-color: #1e3f5a;
  transform: rotateY(180deg);
}

.card-cont {
  display: inline-block;
}

.card-cont:hover .card {
  transform: perspective(500px) rotateY(180deg);
}

.bg {
  width: 90%;
  height: 55%;
  translate: 0% 5%;
  object-fit: cover;
  border-radius: 10px;
  align-self: center;
}

.pfp {
  width: 150px;
  border: 3px solid blanchedalmond;
  object-fit: cover;
  border-radius: 10px;
  translate: 15% -60%;
}

.card_back .pfp {
  translate: 217% -60%;
}

header {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: left;
  justify-content: flex-end;
  text-align: left;
}

h1 {
  margin-top: -5rem;
  margin-bottom: -15px;
  color: blanchedalmond;
  translate: 5% 0%;
}

h2 {
  color: blanchedalmond;
  translate: 5% 0%;
}

p {
  color: blanchedalmond;
  translate: 5% 0%;
}

.card_back h1 {
  text-align: right;
  translate: -5%;
}

.card_back h2 {
  text-align: right;
  translate: -5%;
}

.card_back p {
  text-align: right;
  translate: -5%;
}
